html
    head
        link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
        link(rel="stylesheet", href="static/css/style.css")

    body
        div(class="container")
            div(class="title")
                h1 Going Home Club
                h2 For Weebs Only~~
                hr 
            div(class="content")
                p Plz Weebs
